/*STYLES GERAIS*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

.titulo{
    max-width: 100vw;
    height: fit-content;
    background-color: #193d53;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

/*STYLE HEADER*/

header{
    position: fixed;
    z-index: 100;
    width: 100vw;
    top: 0;
    background-color: #f8f7f3;
}

nav div{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 50%;
    height: 100%;
}

li{
  list-style: none;  
  text-align: center;
  width: 100%;
  align-items: center;
  height: 100%;
  display: flex;
  transition-timing-function: ease-in-out 0.3s;
}

header nav{
    display: flex;
    height: 10vh;
    padding-left: 1vw;
    max-width: 100vw;
    background-color: #f8f7f3;
}

nav img{
    height: 90%;
    max-width: 100%;
}

header a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color:#193d53;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

#logo-a{
    background-color:#f8f7f3;
}

#a-contato{
    background-color: #373636; 
}

nav a:hover{
    background-color:#15AAFF;
    font-size:1.5em ;
}

#a-contato:hover{
    background-color: gray;
    font-size: 1.5em;
}

/*STYLE SECTION LOGO*/

.empresa{
    margin-top: 10vh;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color:#000000;
    position: absolute;
    opacity: 0.4;
    border-radius: 15px;
    backdrop-filter: blur(40px);
}

h3{
    z-index: 1;
}

p{
    z-index: 99;
}

.janela {
    position: relative;
    height: calc(100vh - 58px);
    max-height: calc(52vw + 64px);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: 100%;
    background-position: 50%;
    z-index: 0;
}

.janela .image-janela{
    z-index: -75;
    background-image: url(https://img.freepik.com/fotos-premium/tabela-de-mesa-de-escritorio-de-objetos-de-trabalho-e-negocios-de-negocios-3-fundo-de-madeira_34362-345.jpg?w=2000);
    height: 99%;
    max-width: 100vw;
    position: absolute;
    width: 108%;
    background-size: 101%;
    background-position: -30%;
    filter: blur(3px);
}

.colorback {
    background: #232323;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

.banner-logo > img{
    z-index: 2;
}

.janela-texto {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    max-width: 600px;
}
.containerCaixa > div {
    padding: 10px;
}
.caixa-carro .image-carro {
    background-image: url(Carro.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 14px;
    filter: blur(2px);
}

.caixa-casa .image-casa {
    background-image: url("https://redelojacorr.com.br/wp-content/uploads/2022/07/home-insurance-concept-and-real-estate-businesswo-2022-07-01-07-12-25-utc-scaled-1.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 14px;
    filter: blur(2px);
}

.caixa-vida .image-vida {
    background-image: url("https://www.infomoney.com.br/wp-content/uploads/2022/05/Mate%CC%81ria1.jpg?resize=916%2C515&quality=50&strip=all");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 14px;
    filter: blur(2px);
}

.caixa-civil .image-civil {
    background-image: url("https://jacyaraseguros.com.br/wp-content/uploads/2021/04/Responsabilidade-Civil-geral-1-1.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 14px;
    filter: blur(2px);
}

.caixa-empresarial .image-empresarial {
    background-image: url("https://images.pexels.com/photos/4427957/pexels-photo-4427957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 14px;
    filter: blur(2px);
}

.caixa-idoso .image-idoso {
    background-image: url("https://blog.cresol.com.br/wp-content/uploads/2022/01/casal-de-idosos-felizes.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 14px;
    filter: blur(2px);
}

.caixa-carro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
    height: 50vh;
    position: relative;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    background-position: 50%;
    color:#ffffff;
    border-radius: 15px;
}

.caixa-vida{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
    height: 50vh;
    position: relative;
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    color:#ffffff;
    border-radius: 15px;
}

.caixa-casa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
    height: 50vh;
    position: relative;
    box-shadow: 1px 1px 15px gray;
    background-position: 50%;
    color:#ffffff;
    border-radius: 15px;
}

.caixa-empresarial{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
    height: 50vh;
    position: relative;
    box-shadow: 1px 1px 15px gray;
    color:#ffffff;
    border-radius: 15px;
}

.caixa-civil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
    height: 50vh;
    position: relative;
    box-shadow: 1px 1px 15px gray;
    background-position: 50%;
    color:#ffffff;
    border-radius: 15px;
}

.caixa-idoso{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center ;
    height: 50vh;
    position: relative;
    box-shadow: 1px 1px 15px gray;
    background-position: 50%;
    color:#ffffff;
    border-radius: 15px;
}

.caixa-sobre{
    display: flex;
    align-items: end;
    text-align: center;
    color: #352222;
    text-shadow: 1px 1px 6px #c7c7c7;
    z-index: 1;
}

.caixa-sobre > img{
    box-shadow: 0px 1px 8px;
    width: 70%;
    height: 370px;
    margin: 0px 20px;
    border-radius: 80px;
}

.caixa-sobre > h2{
    margin: 1px 21px 82px 21px;}

.containerCaixa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 20px;
}

.containerCaixa>div{
    height: 30vh;
}


.containerSobre{
    display: flex;
    height: 38vw;
    max-width: 100vw;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: 100%;
    background-position: 50%;
    z-index: 99;
}

.div > h1{
    height: 13vh;
    padding: 10px;
    color: #f8f7f3;
}

/*STYLE TIME*/

.container-time{
    background-color: #F8F7F3;
    margin-top: 20px;
    max-width: 100vw;
}

.time{
    max-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 20px;
}

.row-time{
    display: grid;
    max-height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 19px;
    padding: 15px;
    gap: 20px;
    box-shadow: 2px 2px 18px gray;
}

.foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto img{
    width: 100%;
    height: auto;
}

.sobre-mim{
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redes-sociais a{
    width: 25%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.redes-sociais img {
    width: 100%;
    height: auto;
}

.time div{
    max-width: 100%;
    color: black;
}

.time img{
    width: 50%;
    border-radius: 10%;
}

/*STYLE CONTATO*/

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 10px 10px 0px 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50vw;
    height: 90%; 
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    border-radius: 19px;
    padding: 15px;
}

input{
    border-radius: 19px;
    margin-top: 10px;
    height: 12%;
    border: 2px grey solid;
    display: flex;
    padding: 4px;
}

textarea{
    margin-top: 10px;
    border-radius: 19px 19px 0px 0px;
    height: 40%;
    border: 2px grey solid;
    border-bottom: none;
    padding: 4px;
}
.button-enviar{
    text-decoration: none; 
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color:#193d53;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    border: none;
    height: 10%;
}

.button-enviar:hover{
    background-color:darkcyan;
}

/*STYLE FOOTER*/

footer{
    margin-top: 10px;
}
.container-footer{
    display: flex;
    background-color: #193d53;
    max-width: 100vw;
    height: 25vh;
    padding: 10px;
    color: #f8f7f3;
}

section img{
    height: 92%;
    margin-left: 10px;
}

.container-footer section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-height: 100%;
    padding: 15px;
}

.janela div{
    margin-right: 30px;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

/*telefone*/
@media screen and (max-width: 414px){  

    body{
        display: flex;
        flex-direction: column;
    }

    /*header*/
    #logo-frase{
        display: none;
    }

    header{
        height: 8vh;
        position: relative;
    }
    header nav{
        height: 100%;
        justify-content: start;
        background-color: #193d53;
    }    

    nav ul{
        width: 100%;
    }

    #logo-a{
        background-color: #193d53;
    }

    /*main*/

    .empresa{
        margin-top: 0vh;
    }

    .janela {
        position: relative;
        height: calc(100vh - 58px);
        max-height: calc(52vw + 64px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(https://img.freepik.com/fotos-premium/tabela-de-mesa-de-escritorio-de-objetos-de-trabalho-e-negocios-de-negocios-3-fundo-de-madeira_34362-345.jpg?w=2000);
        background-size: 120%;
        background-position: 50%;
        
    }

    .banner-logo > img{
        height: 150px;
        z-index: 1;
    }

    .overlay{
        height: 100%;
        width: 100%;
        background-color:#000000;
        position: absolute;
        opacity: 0.5;
        border-radius: 15px;
    }
    
    .colorback {
        background: #232323;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        position: absolute;
        z-index: 99;
    }
    
    .janela-texto {
        text-align: center;
        display: -ms-flexbox;
        display: flex;
        color: #ffffff;
        max-width: 600px;
    }
    
    .containerCaixa{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding: 20px;
    }
    

    .containerCaixa >.caixa-carro> p{
        padding: 30px;
    }

    .containerCaixa >.caixa-vida> p{
        padding: 30px;
    }

    .containerCaixa >.caixa-empresarial> p{
        padding: 30px;
    }

    .containerCaixa >.caixa-civil> p{
        padding: 30px;
    }

    .containerCaixa >.caixa-idoso> p{
        padding: 30px;
    }

    .containerCaixa >.caixa-casa> p{
        padding: 30px;
    }

    .caixa-carro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center ;
        background-image: url(Carro.jpg);
        background-size: cover;
        height: 50vh;
        position: relative;
        box-shadow: 1px 1px 15px rgb(0, 0, 0);
        background-position: 50%;
        color:#ffffff;
        border-radius: 15px;
    }
    
    .caixa-vida{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center ;
        background-image: url("https://www.infomoney.com.br/wp-content/uploads/2022/05/Mate%CC%81ria1.jpg?resize=916%2C515&quality=50&strip=all");
        background-size: cover;
        height: 50vh;
        position: relative;
        box-shadow: 1px 1px 15px rgb(0, 0, 0);
        color:#ffffff;
        border-radius: 15px;
    }
    
    .caixa-casa{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center ;
        background-image: url("https://redelojacorr.com.br/wp-content/uploads/2022/07/home-insurance-concept-and-real-estate-businesswo-2022-07-01-07-12-25-utc-scaled-1.jpg");
        background-size: cover;
        height: 50vh;
        position: relative;
        box-shadow: 1px 1px 15px gray;
        background-position: 50%;
        color:#ffffff;
        border-radius: 15px;
    }
    
    .caixa-empresarial{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center ;
        background-image: url("https://images.pexels.com/photos/4427957/pexels-photo-4427957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        height: 50vh;
        position: relative;
        box-shadow: 1px 1px 15px gray;
        color:#ffffff;
        border-radius: 15px;
    }
    
    .caixa-civil{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center ;
        background-image: url("https://jacyaraseguros.com.br/wp-content/uploads/2021/04/Responsabilidade-Civil-geral-1-1.jpg");
        background-size: cover;
        height: 50vh;
        position: relative;
        box-shadow: 1px 1px 15px gray;
        background-position: 50%;
        color:#ffffff;
        border-radius: 15px;
    }
    
    .caixa-idoso{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center ;
        background-image: url("https://blog.cresol.com.br/wp-content/uploads/2022/01/casal-de-idosos-felizes.jpg");
        background-size: cover;
        height: 50vh;
        position: relative;
        box-shadow: 1px 1px 15px gray;
        background-position: 50%;
        color:#ffffff;
        border-radius: 15px;
    }

    .containerCaixa>div{
        height: 30vh;
    }
    
    .caixa-sobre{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0px 0px 80px 0px;
        color: #352222;
        text-shadow: 1px 1px 6px #c7c7c7;
        align-content: center;
        flex-direction: column;
    }

    .caixa-sobre h2{
        filter: none;
    }
    
    .containerSobre{
        height: 100vh;
        max-width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: 50%;
    }

    .caixa-sobre > img{
        box-shadow: 0px 1px 8px;
        width: 92%;
        height: 100%;
        margin: 106px 0px 25px 1px;
        border-radius: 80px;
    }
    
    .caixa-sobre > h2{
        margin: 19px;
    }

    .titulo{
        max-width: 100vw;
        height: fit-content;
        background-color: #193d53;
        color: white;
        padding: 20px;
        text-align: center;
        margin-top: 10px;
    }   
    
    .div > h1{
        height: 13vh;
        padding: 10px;
        color: #f8f7f3;
    }

    /*time*/

    .row-time{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        gap: 0px;
        justify-content: center;
    }

    .time{
        height: fit-content;
    }

    .redes-sociais{
        flex-direction: row;
        justify-content: space-between;
    }

    #redes-sociais-outside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foto img{
        margin: 0px;
    }

    .sobre-mim{
        font-size: larger;
    }

    /*contato*/

    #contato{
        max-height: 30vh    ;
    }

    /*footer*/

    .container-footer{
        height: 5vh;
    }

    #logo-senac{
        width: 10%;
    }

    footer div{
        font-size: smaller;
    }
}